@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.pagination{
    color: gray;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a:hover {
    background-color: #ddd;
}

.pagination .active {
    background-color: #4CAF50;
    color: white;
}
.text-block {
    /* max-width: 300px; Set your desired maximum width */
    display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 3; /* Set the number of lines to show */
            margin-bottom: 1em;
    
}